@charset "utf-8";

html {
	height: 100%;
	scroll-behavior: smooth;
}

.body {
	background-color: #73bca7;
}

.container {
	height: 100%;
	margin: 0px;
	padding-top: 5%;
	padding-right: 10%;
	padding-left: 10%;
	overflow: hidden;
	
}

#grid {
	display: grid;
	grid-template-columns: 
		50%
		1fr;
	grid-template-rows:
		auto
		auto
		auto
		1fr;
}

#title    { 
	grid-column: 1/ span 2; 
	grid-row: 1; 
	text-align: center;
	
}
#text    { 
	grid-column: 1; 
	grid-row: 2; 
	padding: 3%;
	padding-top: 25%;
	padding-right: 5%;
	padding-left: 7%;
}
#blink    { 
	grid-column: 2; 
	grid-row: 2;
	padding: 3%;
	padding-left: 5%;
}

#bar {
	grid-column: 1/ span 2; 
	grid-row: 3; 
	text-align: center;
	padding-top: 8%;
	padding-bottom: 6%;
	z-index: +1;
}

#mlinks {
	grid-column: 1; 
	grid-row: 4;
}

#meimg {
	grid-column: 2; 
	grid-row: 4;
}

#gridnest {
	display: grid;
	grid-template-columns: 
		60%
		1fr;
	grid-template-rows: 
		auto;
		1fr;
}

#voicebox {
	grid-column: 1/ span 2;
	grid-row: 3;
	justify-content: center;
	object-fit: contain;
	margin: auto;
	z-index: +2;
	padding-top: 4%;
}

#link1 {
	grid-column: 1; 
	grid-row-end: 1;
	padding-left: 10%;
}

#link2 {
	grid-column: 2;
	grid-row-end: 1; 
	text-align: center;
	padding-top: 20%;
	padding-right: 20%;
}

#link3 {
	grid-column: 1;
	grid-row: 2; 
	text-align: center;
	padding-top: 15%;
}

#link4 {
	grid-column: 2;
	grid-row: 2; 
}

.heading {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: #dcefea;
	font-size: 48pt;
	line-height: 50pt;
	align-self: center;
}
.headingsub {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: #dcefea;
	font-size: 32pt;
	line-height: 45pt;
	align-self: center;
}
.bodytext {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #357060;
	font-size: 20pt;
	line-height: 28pt;
	align-self: flex-start;
}

.bodytext2 {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #dcefea;
	font-size: 20pt;
	line-height: 28pt;
	align-self: flex-start;
}

.bodytext3 {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #b06124;
	font-size: 20pt;
	line-height: 28pt;
	align-self: flex-start;
	cursor: pointer;
}

.bodytext4 {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ad4837;
	font-size: 20pt;
	line-height: 28pt;
	align-self: flex-start;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.bodytextbig {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #104A3D;
	font-size: 26pt;
	line-height: 36pt;
	align-self: flex-start;
}

.linkbox {
	height: 50%;
	width: 50%;
	float: left;
}

.linkimg1 {
	max-height: 200px;
	padding: 10%;
	cursor: pointer;
}

.linkimg2 {
	max-height: 150px;
	padding: 10%;
	cursor: pointer;
}

.bigbutton {
	max-height: 270px;
	padding: 15%;
	cursor: pointer;
}

.meimg {
	max-height: 490px;
	float: right;
	padding-bottom: 2%;
}

@keyframes turn {
		from {transform: rotate(0)}
		to {transform: rotate(3deg)}

	}

img.linkimg1:hover {	
	animation-name: turn;
	animation-duration: 0.2s;
	transform: rotate(3deg);
	animation-direction: alternate;
}

img.linkimg2:hover {	
	animation-name: turn;
	animation-duration: 0.2s;
	transform: rotate(3deg);
	animation-direction: alternate;
}

img.bigbutton:hover {	
	animation-name: turn;
	animation-duration: 0.2s;
	transform: rotate(3deg);
	animation-direction: alternate;
}

#voicebox:hover #imgme{	
	visibility: hidden;
}

.voicebox {
	object-fit: contain;
	padding-top: 2%;
}

.voiceboximg {
	max-height: 185px;

}

